<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
 
<configuration>
    <typeAliases>
        <typeAlias type="com.ellychou.todo.rest.entities.Event" alias="Event" />
        <typeAlias type="com.ellychou.todo.rest.entities.User" alias="User" />
        <typeAlias type="com.ellychou.todo.rest.entities.Token" alias="Token" />

    </typeAliases>

    <mappers>
        <mapper resource="mappers/event.xml" />
        <mapper resource="mappers/user.xml" />
        <mapper resource="mappers/token.xml" />

    </mappers>
</configuration>