<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
 
<configuration>
    <typeAliases>
        <typeAlias type="com.ellychou.todo.rest.entities.Podcast" alias="Podcast"/>
    </typeAliases>
    <mappers>
        <mapper resource="mappers/podcast.xml" />
    </mappers>

    <typeAliases>
        <typeAlias type="com.ellychou.todo.rest.entities.Event" alias="Event" />
    </typeAliases>
    <mappers>
        <mapper resource="mappers/event.xml" />
    </mappers>
</configuration>